<%= form_for(@country) do |c| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% @country.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= c.label :name %><br>
    <%= c.text_field :name %>
  </div>
  <div class="field">
    <%= c.label :description %><br>
    <%= c.text_area :description %>
  </div>
  <div class="field">
    <%= c.hidden_field :key %>
  </div>
  <%= fields_for @country.flag do |f| %>
    <div class="field">
      <%= f.label :flag_url %><br>
      <%= f.text_area :url %>
    </div>
  <% end %>
  <div class="field">
    <%= c.hidden_field :key %>
  </div>
  <div class="actions">
    <%= c.submit %>
  </div>
<% end %>
